In [1]:
import pandas as pd

In [4]:
nfl_salary = pd.read_csv("C:/Users/camer/Desktop/nfl_salary.txt", delimiter = '\t')

In [5]:
print(nfl_salary)

     year  Cornerback  Defensive Lineman  Linebacker  Offensive Lineman  \
0    2011    11265916           17818000    16420000           15960000
1    2011    11000000           16200000    15623000           12800000
2    2011    10000000           12476000    11825000           11767500
3    2011    10000000           11904706    10083333           10358200
4    2011    10000000           11762782    10020000           10000000
5    2011     9244117           11340000     8150000            9859166
6    2011     8000000           10000000     7812500            9500000
7    2011     7900000            9482500     7700000            9420000
8    2011     7400000            8450000     7200000            8880000
9    2011     7000000            8383266     7100000            8686750
10   2011     6837500            7416666     6921250            8533333
11   2011     6750000            7200000     6575000            8516667
12   2011     6345000            7100000     6550000            8390000
13   2011     6330000            7076667     6538413            7984863
14   2011     6183333            6875000     6488000            7400000
15   2011     5600000            6419250     6150000            6834000
16   2011     5400000            6100000     6118333            6730000
17   2011     5400000            5983333     6075000            6723176
18   2011     5350000            5600000     6000000            6540000
19   2011     5116666            5600000     5724168            6500000
20   2011     5000000            5532000     5650000            6500000
21   2011     4866667            5300000     5600000            6200000
22   2011     4864727            5300000     5551250            6093750
23   2011     4793000            5225000     5378750            5812500
24   2011     4500000            5166667     5291470            5700000
25   2011     4400000            5100000     5265000            5500000
26   2011     4250000            5100000     5225000            5500000
27   2011     4230000            5000000     5000000            5500000
28   2011     4166667            4955000     5000000            5473625
29   2011     3823529            4950000     5000000            5267100
..    ...         ...                ...         ...                ...
770  2018     1750000            3718750     2166666            5687500
771  2018     1750000            3666666     2125000            5687500
772  2018     1741931            3625000     2104220            5586635
773  2018     1671283            3500000     2100000            5450000
774  2018     1612500            3500000     2081344            5400000
775  2018     1609291            3491358     2070183            5375000
776  2018     1562500            3487500     2053479            5375000
777  2018     1400000            3471875     2050000            5360000
778  2018     1395475            3250000     2027788            5155000
779  2018     1310517            3152081     2026582            5000000
780  2018     1190818            3131746     2021169            5000000
781  2018     1177174            3100000     2000000            4860931
782  2018     1100435            3000000     2000000            4850000
783  2018     1096131            3000000     1961643            4615625
784  2018     1092737            2920630     1907000            4600000
785  2018     1080228            2914000     1838886            4579184
786  2018     1058139            2803356     1786992            4335725
787  2018     1004999            2800000     1771355            4095000
788  2018      973543            2666666     1727574            4083334
789  2018      906657            2635540     1706250            4068750
790  2018      881718            2612500     1700722            4000000
791  2018      824173            2553176     1700000            3625204
792  2018      794348            2546875     1675644            3591668
793  2018      788950            2500000     1640520            3500000
794  2018      781282            2500000     1608333            3500000
795  2018      778040            2464486     1600000            3397541
796  2018      777655            2431250     1568082            3208333
797  2018      771432            2422392     1533333            3000000
798  2018      768357            2345618     1519788            2990994
799  2018      767782            2321939     1500000            2967263

     Quarterback  Running Back   Safety  Special Teamer  Tight End  \
0     17228125.0      12955000  8871428       4300000.0    8734375
1     16000000.0      10873833  8787500       3725000.0    8591000
2     14400000.0       9479000  8282500       3556176.0    8290000
3     14100000.0       7700000  8000000       3500000.0    7723333
4     13510000.0       7500000  7804333       3250000.0    6974666
5     13250000.0       7033000  7652700       3225000.0    6133333
6     12950000.0       6750000  7550000       2900000.0    5962500
7     12574700.0       6370002  7500000       2850000.0    4687500
8     12465000.0       6000000  5745000       2600000.0    4536666
9     11320000.0       4933333  5250000       2600000.0    4200000
10     9500000.0       4500000  4256752       2400000.0    3850000
11     9000000.0       4323353  4237500       2400000.0    3812500
12     8879000.0       4310000  4066075       2375000.0    3796500
13     7750000.0       3750000  4000000       2250000.0    3750000
14     7075000.0       3750000  4000000       2250000.0    3023000
15     6410499.0       3340000  3925000       2200000.0    3000000
16     6123750.0       3255000  3750000       2150000.0    2800000
17     5725000.0       2822916  3650000       2150000.0    2675000
18     5610000.0       2750000  3600000       2100000.0    2416667
19     5387500.0       2650500  3500000       2000000.0    2333333
20     5050000.0       2610000  3500000       1980000.0    2250000
21     5000000.0       2588800  3250000       1916667.0    2125000
22     4900000.0       2572500  3156000       1900000.0    2051667
23     4600000.0       2475000  3135000       1835000.0    2002500
24     4004636.0       2375000  3035000       1835000.0    1864375
25     4000000.0       2250000  2600000       1812500.0    1771250
26     4000000.0       2250000  2583333       1800000.0    1720000
27     4000000.0       2250000  2550000       1700000.0    1610000
28     3466667.0       2175000  2513750       1675000.0    1500000
29     3250000.0       2140000  2500000       1513333.0    1383333
..           ...           ...      ...             ...        ...
770     614874.0        692005  1175000        630000.0     705784
771     556666.0        691144  1165000        630000.0     705000
772     555000.0        680000  1136519        630000.0     705000
773     555000.0        675000  1114628        630000.0     705000
774     555000.0        659912  1109368        630000.0     705000
775     555000.0        659912  1100000        577289.0     705000
776     555000.0        648941  1083354        559000.0     669896
777     555000.0        637346  1024859        557500.0     665713
778     555000.0        631668  1008831        556666.0     663864
779     496067.0        631000   962139        556333.0     631668
780     480000.0        630000   939284        555000.0     630000
781     480000.0        630000   838482        555000.0     630000
782     480000.0        630000   805355        555000.0     630000
783     480000.0        630000   774641        555000.0     630000
784     480000.0        630000   773438        555000.0     630000
785     480000.0        630000   769869        555000.0     630000
786     480000.0        630000   761554        555000.0     630000
787     480000.0        630000   754839        555000.0     630000
788     480000.0        630000   723001        555000.0     630000
789          NaN        630000   721449        555000.0     630000
790          NaN        630000   720552        555000.0     630000
791          NaN        630000   720000        480000.0     630000
792          NaN        630000   709723        480000.0     630000
793          NaN        630000   705000        480000.0     629571
794          NaN        630000   705000        480000.0     625511
795          NaN        630000   705000        480000.0     624125
796          NaN        630000   705000        480000.0     611847
797          NaN        630000   705000        480000.0     570000
798          NaN        630000   655089        480000.0     561666
799          NaN        630000   655089        480000.0     559000

     Wide Receiver
0         16250000
1         14175000
2         11424000
3         11415000
4         10800000
5          9993750
6          8605200
7          8273333
8          7827500
9          7531250
10         6525000
11         6494668
12         5600000
13         5145443
14         4475000
15         4406250
16         4200000
17         4166666
18         4000000
19         4000000
20         3853000
21         3815000
22         3610000
23         3600000
24         3579655
25         3500000
26         3275000
27         3250000
28         3225000
29         3200000
..             ...
770        2769875
771        2740811
772        2709539
773        2500000
774        2200000
775        2103690
776        2085110
777        2043406
778        2025000
779        1968750
780        1963929
781        1959450
782        1907000
783        1907000
784        1907000
785        1907000
786        1868497
787        1800000
788        1775000
789        1756649
790        1750000
791        1621247
792        1544373
793        1540870
794        1466746
795        1396083
796        1333334
797        1161537
798        1150000
799         953585

[800 rows x 11 columns]

In [15]:
travel_data = pd.read_excel("C:/Users/camer/Desktop/mbta.xlsx")

In [16]:
print(travel_data)

                 mode   2007-01   2007-02   2007-03   2007-04   2007-05  \
1    All Modes by Qtr       NaN       NaN  1187.653       NaN       NaN
2                Boat     4.000     3.600    40.000     4.300     4.900
3                 Bus   335.819   338.675   339.867   352.162   354.367
4       Commuter Rail   142.200   138.500   137.700   139.500   139.000
5          Heavy Rail   435.294   448.271   458.583   472.201   474.579
6          Light Rail   227.231   240.262   241.444   255.557   248.262
7        Pct Chg / Yr     0.020    -0.040     0.114    -0.002     0.049
8         Private Bus     4.772     4.417     4.574     4.542     4.768
9                RIDE     4.900     5.000     5.500     5.400     5.400
10  Trackless Trolley    12.757    12.913    13.057    13.444    13.479
11              TOTAL  1166.974  1191.639  1204.725  1247.105  1244.755

     2007-06   2007-07   2007-08   2007-09    ...      2011-01   2011-02  \
1   1245.959       NaN       NaN  1256.571    ...          NaN       NaN
2      5.800     6.521     6.572     5.469    ...        3.140     3.284
3    350.543   357.519   355.479   372.598    ...      334.958   346.234
4    143.000   142.391   142.364   143.051    ...      128.396   125.463
5    477.032   471.735   461.605   499.566    ...      468.418   504.068
6    246.108   243.286   234.907   265.748    ...      198.450   219.886
7      0.096    -0.037     0.004    -0.007    ...       -0.028     0.008
8      4.722     3.936     3.946     4.329    ...        2.213     2.570
9      5.600     5.253     5.308     5.609    ...        6.735     7.463
10    13.323    13.311    13.142    14.393    ...       11.104    11.695
11  1246.129  1243.952  1223.323  1310.764    ...     1153.413  1220.663

     2011-03   2011-04   2011-05   2011-06   2011-07   2011-08   2011-09  \
1   1223.452       NaN       NaN  1302.414       NaN       NaN  1290.549
2      3.674     4.251     4.431     5.474     6.581     6.733     5.003
3    380.399   380.446   385.289   376.317   361.585   353.793   388.271
4    134.374   134.169   136.140   135.581   132.410   130.616   136.901
5    516.730   528.631   528.122   529.528   532.888   508.145   550.137
6    227.935   242.280   225.776   221.865   231.010   220.164   244.949
7      0.050     0.036     0.050     0.054     0.067     0.052     0.043
8      2.559     2.762     2.776     2.815     2.671     2.655     2.843
9      8.387     8.145     8.059     8.377     7.902     8.071     8.318
10    12.601    12.599    12.291    12.128    11.060    11.091    12.332
11  1286.660  1313.283  1302.884  1292.085  1286.107  1241.268  1348.754

     2011-10
1        NaN
2      4.484
3    398.456
4    128.720
5    554.932
6    237.768
7      0.032
8      2.967
9      8.598
10    12.297
11  1348.222

[11 rows x 59 columns]